Heading: 

macOS 10.15 Catalina Support

Teaser: 

If you've updated your Mac to 10.15 Catalina, Inkscape 1.0 (beta) is available to run on your computer. You can download it from the <a href="/release/inkscape-1.0/?latest=1">Release Notes</a> page (big black button below the image). 

Full article text: 

If you've updated your Mac to 10.15 Catalina, Inkscape 1.0 (beta) is available to run on your computer. You can download it from the <a href="/release/inkscape-1.0/?latest=1">Release Notes</a> page (big black button below the image). 

Inkscape 0.9x for macOS is a 32 bit app and, starting with Catalina, no longer supported by macOS. 

We are currently working hard on the next major release of Inkscape which will be fully supported on Catalina. If you upgrade to Catalina and need Inkscape immediately, you can try a development release of Inkscape 1.0 (currently in beta).